/* layout */
#mynavbar {
  padding: 20px !important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2),
    inset 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
}
.link {
  color: black !important;
  text-decoration: none !important;
}
